---
layout: multiheading
permalink: /publications/
title: Publications
---
<h1>Publications</h1>

{% if site.data.pubs.size == 0 %}
  <p>
    <em>There are no publications to show right now</em>
  </p>
{% else %}

{% for doc in site.data.pubs reversed %}
  <p>
    <strong>{{ doc.title }}</strong>
    <div>> {{ doc.authors }} at {{doc.conference}}</div>
    <div>> <a href="{{doc.link}}">Paper</a>,&nbsp;&nbsp;<a href="{{doc.talk}}">Talk</a></div>
  </p>
{% endfor %}

{% endif %}

<!-- 
<h1>Misc</h1>

{% if site.data.docs.size == 0 %}
  <p>
    <em>There are no docs to show right now</em>
  </p>
{% else %}

{% for doc in site.data.docs reversed %}
  <p>
    <a
      href="{{ doc.url }}"
      ><strong>{{ doc.title }}</strong></a>
    <span class="blog-post-date blog-list-date">{{ doc.date | date_to_string }}</span>
  </p>
{% endfor %} -->

{% endif %}
