---
layout: multiheading
permalink: /publications/
title: Publications
---
<h1>Publications</h1>

{% if site.data.pubs.size == 0 %}
  <p>
    <em>There are no publications to show right now</em>
  </p>
{% else %}

{% for doc in site.data.pubs reversed %}
  <p>
    <strong>{{ doc.title }}</strong>
    <div>> 
      {% for author in doc.authors %}
        {{author}}{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </div>
    <div>
      <em>{{ doc.conference }}</em>
    </div>
    <div>> 
      {% for link in doc.links %}
        <a href="{{link.url}}">{{link.name}}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </div>
  </p>
{% endfor %}

{% endif %}

<!-- 
<h1>Misc</h1>

{% if site.data.docs.size == 0 %}
  <p>
    <em>There are no docs to show right now</em>
  </p>
{% else %}

{% for doc in site.data.docs reversed %}
  <p>
    <a
      href="{{ doc.url }}"
      ><strong>{{ doc.title }}</strong></a>
    <span class="blog-post-date blog-list-date">{{ doc.date | date_to_string }}</span>
  </p>
{% endfor %} -->

{% endif %}
