<header>

  <div>

    <div class="header-heading">
      <a
        href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}"
        class="header-heading-title"
      >
        {{ site.name }}
      </a>
    </div>

    <div class="header-nav">
      {% for link in site.data.nav %}
        <p>
          <a
            href="{{ link.href }}"
            target="{{ link.target }}"
          >
            <!-- Add a caret if its active page -->
            {% if page.url == link.href %}
              <span width="20px">> </span>
            {% else %}
              <span width="20px">  </span>
            {% endif %}
            {{ link.title }}
          </a>
        </p>
      {% endfor %}
    </div>

  </div>

  <div class="header-contact">
    {% for link in site.data.contact %}
      <a href="{{ link.href }}" target="_blank">
        <div class="img">
          {% include svg/{{ link.icon }} %}
        </div>
      </a>
    {% endfor %}
  </div>

</header>
