/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, .markdown a, main a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: "JetBrains Mono"; src: url("/static/fonts/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("/static/fonts/JetBrainsMono/woff/JetBrainsMono-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

:root { font-size: 16px; font-family: "Poppins", sans-serif; font-variant-ligatures: none; --primary-color:      #111111; --secondary-color:    #666666; --font-color:         #272727; --background-color:   #FDFDFD; --secondary-bg-color: #E0E0E0; --overlay-color:      255, 255, 255; }

html, body { width: 100%; height: 100%; }

body { background-color: var(--background-color); color: var(--font-color); font-size: 1rem; }

a, .markdown a, main a { color: var(--primary-color); text-decoration: underline; }

a:hover { text-decoration: none; }

a:focus { outline: dotted; }

svg { fill: currentColor; }

.medium-zoom-overlay { z-index: 101; background-color: rgba(var(--overlay-color), 0.6) !important; backdrop-filter: blur(5px); }

.medium-zoom-image { z-index: 102; }

.landing-main { display: flex; flex-direction: column; align-content: space-between; width: 100%; height: 100%; }

.landing-main-heading { display: flex; justify-content: center; align-items: center; width: 100%; height: calc(100% - 7rem); }

.landing-main-heading-content { width: auto; height: auto; text-align: center; }

.landing-main-heading-content-title, .header-heading-title { font-size: 10rem; font-weight: bold; font-style: italic; color: var(--primary-color); }

@media only screen and (max-width: 720px) { .landing-main-heading-content-title, .header-heading-title { font-size: 20vw; } }

.landing-main-heading-content-context, .header-heading-context { color: var(--secondary-color); }

.landing-main-heading-content-context p, .header-heading-context p { line-height: 1.5; }

.landing-main-footing { width: 100%; height: 7rem; text-align: center; line-height: 2.5; display: flex; flex-direction: column; align-items: center; justify-content: center; }

@media only screen and (max-width: 480px) { .landing-main-footing { line-height: 3; } }

.landing-main-footing-link { display: inline; margin-left: 1rem; }

.landing-main-footing-link::before { content: "/"; text-decoration: none; margin-right: 1rem; }

.landing-main-footing-link:first-child { margin-left: 0; }

.landing-main-footing-link:first-child::before { content: none; }

.landing-main-footing-icon { display: inline-block; margin-left: 1rem; }

.landing-main-footing-icon:first-child { margin-left: 0; }

.landing-main-footing-icon a { text-decoration: none; }

.landing-main-footing-icon .img { height: 1.2rem; width: 1.2rem; }

@media only screen and (max-width: 480px) { .landing-main-footing-icon .img { height: 1.5rem; width: 1.5rem; } }

.pygments, .markdown .highlight, main .highlight { /* Name:       Base16 Paraiso Light Author:     Jan T. Sott Pygments template by Jan T. Sott (https://github.com/idleberg) Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder) */ /* Comment */ /* Error */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }

.pygments .c, .markdown .highlight .c, main .highlight .c { color: #8d8687; }

.pygments .err, .markdown .highlight .err, main .highlight .err { color: #ef6155; }

.pygments .k, .markdown .highlight .k, main .highlight .k { color: #815ba4; }

.pygments .l, .markdown .highlight .l, main .highlight .l { color: #f99b15; }

.pygments .n, .markdown .highlight .n, main .highlight .n { color: #2f1e2e; }

.pygments .o, .markdown .highlight .o, main .highlight .o { color: #5bc4bf; }

.pygments .p, .markdown .highlight .p, main .highlight .p { color: #2f1e2e; }

.pygments .cm, .markdown .highlight .cm, main .highlight .cm { color: #8d8687; }

.pygments .cp, .markdown .highlight .cp, main .highlight .cp { color: #8d8687; }

.pygments .c1, .markdown .highlight .c1, main .highlight .c1 { color: #8d8687; }

.pygments .cs, .markdown .highlight .cs, main .highlight .cs { color: #8d8687; }

.pygments .gd, .markdown .highlight .gd, main .highlight .gd { color: #ef6155; }

.pygments .ge, .markdown .highlight .ge, main .highlight .ge { font-style: italic; }

.pygments .gh, .markdown .highlight .gh, main .highlight .gh { color: #2f1e2e; font-weight: bold; }

.pygments .gi, .markdown .highlight .gi, main .highlight .gi { color: #48b685; }

.pygments .gp, .markdown .highlight .gp, main .highlight .gp { color: #8d8687; font-weight: bold; }

.pygments .gs, .markdown .highlight .gs, main .highlight .gs { font-weight: bold; }

.pygments .gu, .markdown .highlight .gu, main .highlight .gu { color: #5bc4bf; font-weight: bold; }

.pygments .kc, .markdown .highlight .kc, main .highlight .kc { color: #815ba4; }

.pygments .kd, .markdown .highlight .kd, main .highlight .kd { color: #815ba4; }

.pygments .kn, .markdown .highlight .kn, main .highlight .kn { color: #5bc4bf; }

.pygments .kp, .markdown .highlight .kp, main .highlight .kp { color: #815ba4; }

.pygments .kr, .markdown .highlight .kr, main .highlight .kr { color: #815ba4; }

.pygments .kt, .markdown .highlight .kt, main .highlight .kt { color: #fec418; }

.pygments .ld, .markdown .highlight .ld, main .highlight .ld { color: #48b685; }

.pygments .m, .markdown .highlight .m, main .highlight .m { color: #f99b15; }

.pygments .s, .markdown .highlight .s, main .highlight .s { color: #48b685; }

.pygments .na, .markdown .highlight .na, main .highlight .na { color: #06b6ef; }

.pygments .nb, .markdown .highlight .nb, main .highlight .nb { color: #2f1e2e; }

.pygments .nc, .markdown .highlight .nc, main .highlight .nc { color: #fec418; }

.pygments .no, .markdown .highlight .no, main .highlight .no { color: #ef6155; }

.pygments .nd, .markdown .highlight .nd, main .highlight .nd { color: #5bc4bf; }

.pygments .ni, .markdown .highlight .ni, main .highlight .ni { color: #2f1e2e; }

.pygments .ne, .markdown .highlight .ne, main .highlight .ne { color: #ef6155; }

.pygments .nf, .markdown .highlight .nf, main .highlight .nf { color: #06b6ef; }

.pygments .nl, .markdown .highlight .nl, main .highlight .nl { color: #2f1e2e; }

.pygments .nn, .markdown .highlight .nn, main .highlight .nn { color: #fec418; }

.pygments .nx, .markdown .highlight .nx, main .highlight .nx { color: #06b6ef; }

.pygments .py, .markdown .highlight .py, main .highlight .py { color: #2f1e2e; }

.pygments .nt, .markdown .highlight .nt, main .highlight .nt { color: #5bc4bf; }

.pygments .nv, .markdown .highlight .nv, main .highlight .nv { color: #ef6155; }

.pygments .ow, .markdown .highlight .ow, main .highlight .ow { color: #5bc4bf; }

.pygments .w, .markdown .highlight .w, main .highlight .w { color: #2f1e2e; }

.pygments .mf, .markdown .highlight .mf, main .highlight .mf { color: #f99b15; }

.pygments .mh, .markdown .highlight .mh, main .highlight .mh { color: #f99b15; }

.pygments .mi, .markdown .highlight .mi, main .highlight .mi { color: #f99b15; }

.pygments .mo, .markdown .highlight .mo, main .highlight .mo { color: #f99b15; }

.pygments .sb, .markdown .highlight .sb, main .highlight .sb { color: #48b685; }

.pygments .sc, .markdown .highlight .sc, main .highlight .sc { color: #2f1e2e; }

.pygments .sd, .markdown .highlight .sd, main .highlight .sd { color: #8d8687; }

.pygments .s2, .markdown .highlight .s2, main .highlight .s2 { color: #48b685; }

.pygments .se, .markdown .highlight .se, main .highlight .se { color: #f99b15; }

.pygments .sh, .markdown .highlight .sh, main .highlight .sh { color: #48b685; }

.pygments .si, .markdown .highlight .si, main .highlight .si { color: #f99b15; }

.pygments .sx, .markdown .highlight .sx, main .highlight .sx { color: #48b685; }

.pygments .sr, .markdown .highlight .sr, main .highlight .sr { color: #48b685; }

.pygments .s1, .markdown .highlight .s1, main .highlight .s1 { color: #48b685; }

.pygments .ss, .markdown .highlight .ss, main .highlight .ss { color: #48b685; }

.pygments .bp, .markdown .highlight .bp, main .highlight .bp { color: #2f1e2e; }

.pygments .vc, .markdown .highlight .vc, main .highlight .vc { color: #ef6155; }

.pygments .vg, .markdown .highlight .vg, main .highlight .vg { color: #ef6155; }

.pygments .vi, .markdown .highlight .vi, main .highlight .vi { color: #ef6155; }

.pygments .il, .markdown .highlight .il, main .highlight .il { color: #f99b15; }

@media (prefers-color-scheme: dark) { .pygments, .markdown .highlight, main .highlight { /* Name:       Base16 Paraiso Dark Author:     Jan T. Sott Pygments template by Jan T. Sott (https://github.com/idleberg) Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder) */ /* Comment */ /* Error */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ } .pygments .c, .markdown .highlight .c, main .highlight .c { color: #776e71; } .pygments .err, .markdown .highlight .err, main .highlight .err { color: #ef6155; } .pygments .k, .markdown .highlight .k, main .highlight .k { color: #815ba4; } .pygments .l, .markdown .highlight .l, main .highlight .l { color: #f99b15; } .pygments .n, .markdown .highlight .n, main .highlight .n { color: #e7e9db; } .pygments .o, .markdown .highlight .o, main .highlight .o { color: #5bc4bf; } .pygments .p, .markdown .highlight .p, main .highlight .p { color: #e7e9db; } .pygments .cm, .markdown .highlight .cm, main .highlight .cm { color: #776e71; } .pygments .cp, .markdown .highlight .cp, main .highlight .cp { color: #776e71; } .pygments .c1, .markdown .highlight .c1, main .highlight .c1 { color: #776e71; } .pygments .cs, .markdown .highlight .cs, main .highlight .cs { color: #776e71; } .pygments .gd, .markdown .highlight .gd, main .highlight .gd { color: #ef6155; } .pygments .ge, .markdown .highlight .ge, main .highlight .ge { font-style: italic; } .pygments .gh, .markdown .highlight .gh, main .highlight .gh { color: #e7e9db; font-weight: bold; } .pygments .gi, .markdown .highlight .gi, main .highlight .gi { color: #48b685; } .pygments .gp, .markdown .highlight .gp, main .highlight .gp { color: #776e71; font-weight: bold; } .pygments .gs, .markdown .highlight .gs, main .highlight .gs { font-weight: bold; } .pygments .gu, .markdown .highlight .gu, main .highlight .gu { color: #5bc4bf; font-weight: bold; } .pygments .kc, .markdown .highlight .kc, main .highlight .kc { color: #815ba4; } .pygments .kd, .markdown .highlight .kd, main .highlight .kd { color: #815ba4; } .pygments .kn, .markdown .highlight .kn, main .highlight .kn { color: #5bc4bf; } .pygments .kp, .markdown .highlight .kp, main .highlight .kp { color: #815ba4; } .pygments .kr, .markdown .highlight .kr, main .highlight .kr { color: #815ba4; } .pygments .kt, .markdown .highlight .kt, main .highlight .kt { color: #fec418; } .pygments .ld, .markdown .highlight .ld, main .highlight .ld { color: #48b685; } .pygments .m, .markdown .highlight .m, main .highlight .m { color: #f99b15; } .pygments .s, .markdown .highlight .s, main .highlight .s { color: #48b685; } .pygments .na, .markdown .highlight .na, main .highlight .na { color: #06b6ef; } .pygments .nb, .markdown .highlight .nb, main .highlight .nb { color: #e7e9db; } .pygments .nc, .markdown .highlight .nc, main .highlight .nc { color: #fec418; } .pygments .no, .markdown .highlight .no, main .highlight .no { color: #ef6155; } .pygments .nd, .markdown .highlight .nd, main .highlight .nd { color: #5bc4bf; } .pygments .ni, .markdown .highlight .ni, main .highlight .ni { color: #e7e9db; } .pygments .ne, .markdown .highlight .ne, main .highlight .ne { color: #ef6155; } .pygments .nf, .markdown .highlight .nf, main .highlight .nf { color: #06b6ef; } .pygments .nl, .markdown .highlight .nl, main .highlight .nl { color: #e7e9db; } .pygments .nn, .markdown .highlight .nn, main .highlight .nn { color: #fec418; } .pygments .nx, .markdown .highlight .nx, main .highlight .nx { color: #06b6ef; } .pygments .py, .markdown .highlight .py, main .highlight .py { color: #e7e9db; } .pygments .nt, .markdown .highlight .nt, main .highlight .nt { color: #5bc4bf; } .pygments .nv, .markdown .highlight .nv, main .highlight .nv { color: #ef6155; } .pygments .ow, .markdown .highlight .ow, main .highlight .ow { color: #5bc4bf; } .pygments .w, .markdown .highlight .w, main .highlight .w { color: #e7e9db; } .pygments .mf, .markdown .highlight .mf, main .highlight .mf { color: #f99b15; } .pygments .mh, .markdown .highlight .mh, main .highlight .mh { color: #f99b15; } .pygments .mi, .markdown .highlight .mi, main .highlight .mi { color: #f99b15; } .pygments .mo, .markdown .highlight .mo, main .highlight .mo { color: #f99b15; } .pygments .sb, .markdown .highlight .sb, main .highlight .sb { color: #48b685; } .pygments .sc, .markdown .highlight .sc, main .highlight .sc { color: #e7e9db; } .pygments .sd, .markdown .highlight .sd, main .highlight .sd { color: #776e71; } .pygments .s2, .markdown .highlight .s2, main .highlight .s2 { color: #48b685; } .pygments .se, .markdown .highlight .se, main .highlight .se { color: #f99b15; } .pygments .sh, .markdown .highlight .sh, main .highlight .sh { color: #48b685; } .pygments .si, .markdown .highlight .si, main .highlight .si { color: #f99b15; } .pygments .sx, .markdown .highlight .sx, main .highlight .sx { color: #48b685; } .pygments .sr, .markdown .highlight .sr, main .highlight .sr { color: #48b685; } .pygments .s1, .markdown .highlight .s1, main .highlight .s1 { color: #48b685; } .pygments .ss, .markdown .highlight .ss, main .highlight .ss { color: #48b685; } .pygments .bp, .markdown .highlight .bp, main .highlight .bp { color: #e7e9db; } .pygments .vc, .markdown .highlight .vc, main .highlight .vc { color: #ef6155; } .pygments .vg, .markdown .highlight .vg, main .highlight .vg { color: #ef6155; } .pygments .vi, .markdown .highlight .vi, main .highlight .vi { color: #ef6155; } .pygments .il, .markdown .highlight .il, main .highlight .il { color: #f99b15; } }

.markdown, main { line-height: 1.5; }

.markdown strong, main strong { font-weight: bold; }

.markdown em, main em { font-style: italic; }

.markdown del, main del { text-decoration: line-through; }

.markdown ins, main ins { text-decoration: underline; }

.markdown code, main code { background-color: var(--secondary-bg-color); color: var(--primary-color); font-family: "JetBrains Mono", monospace; }

.markdown h1, main h1, .markdown h2, main h2, .markdown h3, main h3, .markdown h4, main h4, .markdown h6, main h6 { font-weight: bold; }

.markdown h1, main h1 { font-size: 2rem; }

.markdown h2, main h2 { font-size: 1.5rem; }

.markdown h3, main h3 { font-size: 1.2rem; }

.markdown h4, main h4, .markdown h5, main h5 { text-transform: uppercase; }

.markdown blockquote, main blockquote { color: var(--secondary-color); font-style: italic; border-left: 0.2rem solid var(--secondary-color); padding-left: 1rem; }

.markdown ul, main ul, .markdown ol, main ol { margin-left: 2rem; }

.markdown ul, main ul { list-style-type: circle; }

.markdown ol, main ol { list-style-type: decimal; }

.markdown pre, main pre { padding: 1rem; overflow: auto; background-color: var(--secondary-bg-color); }

.markdown pre code, main pre code { background-color: transparent; }

.markdown img, main img { max-width: 100%; margin-left: auto; margin-right: auto; }

.markdown center, main center { text-align: center; }

.markdown p, main p, .markdown div, main div, .markdown h1, main h1, .markdown h2, main h2, .markdown h3, main h3, .markdown h4, main h4, .markdown h5, main h5, .markdown h6, main h6, .markdown blockquote, main blockquote, .markdown ul, main ul, .markdown ol, main ol, .markdown pre, main pre, .markdown img, main img, .markdown center, main center { display: block; margin-bottom: 1rem; }

.markdown ul ol, main ul ol, .markdown ol ul, main ol ul { margin-bottom: 0; }

.markdown .anchor-heading, main .anchor-heading { color: var(--secondary-color); font-weight: normal; text-decoration: none; font-size: 1rem; }

.markdown h1 .anchor-heading, main h1 .anchor-heading, .markdown h2 .anchor-heading, main h2 .anchor-heading, .markdown h3 .anchor-heading, main h3 .anchor-heading, .markdown h4 .anchor-heading, main h4 .anchor-heading, .markdown h5 .anchor-heading, main h5 .anchor-heading, .markdown h6 .anchor-heading, main h6 .anchor-heading { display: none; }

.markdown h1:hover .anchor-heading, main h1:hover .anchor-heading, .markdown h2:hover .anchor-heading, main h2:hover .anchor-heading, .markdown h3:hover .anchor-heading, main h3:hover .anchor-heading, .markdown h4:hover .anchor-heading, main h4:hover .anchor-heading, .markdown h5:hover .anchor-heading, main h5:hover .anchor-heading, .markdown h6:hover .anchor-heading, main h6:hover .anchor-heading { display: inline-block; }

.container { width: 100%; height: 100%; display: flex; flex-direction: row; }

header { width: 20rem; height: 100%; position: fixed; top: 0; left: 0; display: flex; flex-direction: column; justify-content: space-between; z-index: 100; overflow: hidden; }

@media only screen and (max-width: 1072px) { header { left: -100%; transition: left 500ms; background-color: rgba(var(--overlay-color), 0.6); } header.active { left: 0; } }

@media only screen and (max-width: 480px) { header { width: calc(100% - 5.5rem); } }

.header-heading { width: 100%; text-align: center; margin-top: 3rem; }

@media only screen and (max-width: 480px) { .header-heading { margin-top: 2rem; } }

.header-heading-title { font-size: 3rem; display: block; text-decoration: none; }

.header-heading-context p { line-height: 1.2; }

.header-nav { margin-top: 4rem; width: 100%; }

.header-nav p { line-height: 2.5; text-align: center; }

.header-contact { margin: 2rem 0 3rem; width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; }

@media only screen and (max-width: 480px) { .header-contact { margin-bottom: 2rem; } }

.header-contact a { display: block; margin-left: 1rem; }

.header-contact a:first-child { margin-left: 0; }

.header-contact .img { height: 1.2rem; width: 1.2rem; }

@media only screen and (max-width: 480px) { .header-contact .img { height: 1.5rem; width: 1.5rem; } }

.main-cover { display: none; height: 100%; width: 100%; background-color: rgba(var(--overlay-color), 0); backdrop-filter: blur(5px); top: 0; left: 0; position: fixed; z-index: 99; }

@media only screen and (max-width: 1072px) { .main-cover { transition: background-color 500ms; } .main-cover.active { display: block; background-color: rgba(var(--overlay-color), 0.35); } }

main { width: calc(100% - 20rem); padding: 3rem 5rem; padding-left: 25rem; overflow-x: hidden; }

@media only screen and (max-width: 1072px) { main { width: 100%; padding-left: 5rem; } }

@media only screen and (max-width: 480px) { main { padding-top: 1rem; padding-bottom: 1rem; padding-left: 3.5rem; padding-right: 1rem; } }

.blog-post-date { font-size: 0.8rem; color: var(--secondary-color); }

.blog-list-date { margin-left: 0.5rem; }

.project-title { margin-bottom: 0.25rem; }

.menu-btn { display: none; height: 2rem; width: 2rem; position: fixed; top: 3.5rem; left: 1.5rem; z-index: 100; cursor: pointer; color: var(--primary-color); }

@media only screen and (max-width: 1072px) { .menu-btn { display: inline-block; transition: left 500ms; } .menu-btn.active { left: 22rem; } }

@media only screen and (max-width: 480px) { .menu-btn { top: 1.5rem; left: 1rem; } .menu-btn.active { left: 2remcalc(100% - 5.5rem); } }

/*# sourceMappingURL=main.css.map */